@import "tailwindcss";

@layer base {
  body {
    @apply transition-colors duration-300;
  }
}

@layer utilities {
  .thin-scrollbar::-webkit-scrollbar {
    width: 6px;
  }
  .thin-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .thin-scrollbar::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 10px;
  }
  .dark .thin-scrollbar::-webkit-scrollbar-thumb {
    background: #334155;
  }
}
